<div id="board">
    <div id="players-container">
        <app-player *ngFor="let player of game.players; let i = index" [playerName]="player.name"
            [playerImg]="player.img" [playerActive]="i == game.currentPlayer"></app-player>
    </div>

    <div id="card-stack">
        <!-- Card stack -->
        <img src="assets/img/cards/green_back.png" [class.hidden]="game.gameOver"
            *ngFor="let card of cardStack; let i = index;" [ngStyle]="{'right.px': i * 5}" alt="card back green">

        <!-- Top card -->
        <img src="assets/img/cards/green_back.png" [class.hidden]="game.gameOver" class="card-transition"
            (click)="pickCard()" [ngStyle]="{'right.px': cardStack.length * 5}" id="top-card" alt="card back green">

        <!-- Played card -->
        <img src="assets/img/cards/{{ game.playedCard }}.png" *ngIf="game.playedCard" class="played-card"
            [ngStyle]="{'right.px': cardStack.length * 5}" alt="played card">

        <!-- Animated card -->
        <img src="assets/img/cards/{{ game.currentCard }}.png" *ngIf="game.isCardPicked" class="picked-card"
            [ngStyle]="{'right.px': cardStack.length * 5}" alt="picked card">
    </div>

    <footer>
        <app-card-rule id="rule-info" [card]="game.currentCard"></app-card-rule>
        <button id="btn-add-player" (click)="openDialog()" mat-fab color="warn" title="Add new player">
            <mat-icon>add</mat-icon>
        </button>
    </footer>
</div>