/* cinzel-decorative-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Cinzel Decorative';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/cinzel-decorative/cinzel-decorative-v14-latin-regular.eot');
    /* IE9 Compat Modes */
    src: url('../assets/fonts/cinzel-decorative/cinzel-decorative-v14-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../assets/fonts/cinzel-decorative/cinzel-decorative-v14-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../assets/fonts/cinzel-decorative/cinzel-decorative-v14-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../assets/fonts/cinzel-decorative/cinzel-decorative-v14-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../assets/fonts/cinzel-decorative/cinzel-decorative-v14-latin-regular.svg#CinzelDecorative') format('svg');
    /* Legacy iOS */
}

/* cinzel-decorative-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Cinzel Decorative';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/cinzel-decorative/cinzel-decorative-v14-latin-700.eot');
    /* IE9 Compat Modes */
    src: url('../assets/fonts/cinzel-decorative/cinzel-decorative-v14-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../assets/fonts/cinzel-decorative/cinzel-decorative-v14-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../assets/fonts/cinzel-decorative/cinzel-decorative-v14-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('../assets/fonts/cinzel-decorative/cinzel-decorative-v14-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../assets/fonts/cinzel-decorative/cinzel-decorative-v14-latin-700.svg#CinzelDecorative') format('svg');
    /* Legacy iOS */
}

/* cinzel-decorative-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Cinzel Decorative';
    font-style: normal;
    font-weight: 900;
    src: url('../assets/fonts/cinzel-decorative/cinzel-decorative-v14-latin-900.eot');
    /* IE9 Compat Modes */
    src: url('../assets/fonts/cinzel-decorative/cinzel-decorative-v14-latin-900.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../assets/fonts/cinzel-decorative/cinzel-decorative-v14-latin-900.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../assets/fonts/cinzel-decorative/cinzel-decorative-v14-latin-900.woff') format('woff'),
        /* Modern Browsers */
        url('../assets/fonts/cinzel-decorative/cinzel-decorative-v14-latin-900.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../assets/fonts/cinzel-decorative/cinzel-decorative-v14-latin-900.svg#CinzelDecorative') format('svg');
    /* Legacy iOS */
}

/* ubuntu-300 - latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    src: url('../assets/fonts/ubuntu/ubuntu-v20-latin-300.eot');
    /* IE9 Compat Modes */
    src: local(''),
         url('../assets/fonts/ubuntu/ubuntu-v20-latin-300.eot?#iefix') format('embedded-opentype'),
         /* IE6-IE8 */
         url('../assets/fonts/ubuntu/ubuntu-v20-latin-300.woff2') format('woff2'),
         /* Super Modern Browsers */
         url('../assets/fonts/ubuntu/ubuntu-v20-latin-300.woff') format('woff'),
         /* Modern Browsers */
         url('../assets/fonts/ubuntu/ubuntu-v20-latin-300.ttf') format('truetype'),
         /* Safari, Android, iOS */
         url('../assets/fonts/ubuntu/ubuntu-v20-latin-300.svg#Ubuntu') format('svg');
    /* Legacy iOS */
}

/* ubuntu-regular - latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/ubuntu/ubuntu-v20-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
         url('../assets/fonts/ubuntu/ubuntu-v20-latin-regular.eot?#iefix') format('embedded-opentype'),
         /* IE6-IE8 */
         url('../assets/fonts/ubuntu/ubuntu-v20-latin-regular.woff2') format('woff2'),
         /* Super Modern Browsers */
         url('../assets/fonts/ubuntu/ubuntu-v20-latin-regular.woff') format('woff'),
         /* Modern Browsers */
         url('../assets/fonts/ubuntu/ubuntu-v20-latin-regular.ttf') format('truetype'),
         /* Safari, Android, iOS */
         url('../assets/fonts/ubuntu/ubuntu-v20-latin-regular.svg#Ubuntu') format('svg');
    /* Legacy iOS */
}

/* ubuntu-500 - latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/ubuntu/ubuntu-v20-latin-500.eot');
    /* IE9 Compat Modes */
    src: local(''),
         url('../assets/fonts/ubuntu/ubuntu-v20-latin-500.eot?#iefix') format('embedded-opentype'),
         /* IE6-IE8 */
         url('../assets/fonts/ubuntu/ubuntu-v20-latin-500.woff2') format('woff2'),
         /* Super Modern Browsers */
         url('../assets/fonts/ubuntu/ubuntu-v20-latin-500.woff') format('woff'),
         /* Modern Browsers */
         url('../assets/fonts/ubuntu/ubuntu-v20-latin-500.ttf') format('truetype'),
         /* Safari, Android, iOS */
         url('../assets/fonts/ubuntu/ubuntu-v20-latin-500.svg#Ubuntu') format('svg');
    /* Legacy iOS */
}

/* ubuntu-700 - latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/ubuntu/ubuntu-v20-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
         url('../assets/fonts/ubuntu/ubuntu-v20-latin-700.eot?#iefix') format('embedded-opentype'),
         /* IE6-IE8 */
         url('../assets/fonts/ubuntu/ubuntu-v20-latin-700.woff2') format('woff2'),
         /* Super Modern Browsers */
         url('../assets/fonts/ubuntu/ubuntu-v20-latin-700.woff') format('woff'),
         /* Modern Browsers */
         url('../assets/fonts/ubuntu/ubuntu-v20-latin-700.ttf') format('truetype'),
         /* Safari, Android, iOS */
         url('../assets/fonts/ubuntu/ubuntu-v20-latin-700.svg#Ubuntu') format('svg');
    /* Legacy iOS */
}

/* fallback */
// @font-face {
//     font-family: 'Material Icons';
//     font-style: normal;
//     font-weight: 400;
//     src: url('../assets/fonts/material-icons/material-icons.woff2') format('woff2');
//   }