mat-card {
    background-color: #ffdbaa;
    
    mat-card-title {
        font-weight: bold;
    }
    
    p {
        margin-top: 0;
    }
}

@media screen and (max-width: 450px) {
    mat-card {
        mat-card-title, p {
            font-size: 16px;
        }
    }
}